h1 {
    display: grid;
    color: #885A89; 
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gif-card {
    display: grid;
    max-width: 500px;
    max-height: 380px;
    
    float: left;
    gap: 5px;
}

.resultados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    
}